//colors
$black: #000000;
$white: #ffffff;
$light-grey: #FDFCFB;
$grey: #F6F2F0;
$light-pink: #fff5ef;
$light-tan: #ddbda3;
$tan: #B88257;
$dark-tan: #9D6437;
$dark-brown: #423429;
$black-brown: #29231e;