@import "../_variables.scss";

nav, footer {
    z-index: 1000;
}

main {
    margin-top: 60px;
}

footer {
    background: $grey;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    text-align: center;
    
    p {
        padding-top: 3px;
    }
}