<nav>
    <a href="/" class="home">Christine Antonio</a>
    <div class="links">
        <a href="/projects">Projects</a>
        <a href="/contact" class="contact-btn">Contact</a>
    </div>
</nav>

@code {

}
