<nav>
    <a href="/Portfolio/" class="home">Christine Antonio</a>
    <div class="links">
        <a href="/Portfolio/Projects">Projects</a>
        <a href="https://www.linkedin.com/in/cjoyantonio" target="_blank">LinkedIn</a>
        <a href="https://github.com/cjoy-ant" target="_blank">GitHub</a>
        <a href="/Portfolio/Contact" class="contact-btn">Contact</a>
    </div>
</nav>

@code {

}
