<nav>
    <a href="/Portfolio/" class="home">Christine Antonio</a>
    <div class="links">
        <a href="/Portfolio/Projects">Projects</a>
        <a href="/Portfolio/Contact" class="contact-btn">Contact</a>
    </div>
</nav>

@code {

}
