<div class="profile">
    <div class="profile-container">
        <div class="image-container">
            <img src="images/profile-picture square.jpg" alt="Christine Antonio" />
        </div>
        <div class="description">
            <h2>Hello! I'm Christine</h2>
            <p>
                I'm a Software Developer and medical Speech-Language
                Pathologist (SLP) based in Las Vegas, NV. As a healthcare
                professional and avid rock climber, I love to help people and
                solve problems.
            </p>
            <p>
                One of my long term goals is to utilize my
                evolving skills to improve tech accessibility for people with
                communication disorders and other marginalized communities.
            </p>
        </div>
    </div>
</div>
