@page "/contact"


<div class="contact">
    <Profile />
    <div class="contact-container">
        <h1>Let's connect!</h1>
        <section class="contact-form">
            <form>
                <label for="name">Name</label>
                <input type="text" id="name"/>
                <br/>
                <label for="email">Email</label>
                <input type="email" id="email" />
                <br />
                <label for="message">Message</label>
                <textarea id="message" placeholder="Your message..." />
            </form>
        </section>
        <section class="contact-links">
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/cjoyantonio" target="_blank"><LinkedinIcon /> LinkedIn</a>
            </div>
            <div class="github">
                <a href="https://github.com/cjoy-ant" target="_blank"><GithubIcon /> GitHub</a>
            </div>
        </section>
    </div>
</div>