@page "/"

<div class="portfolio">
    <Profile />
    <div class="content">
        <h1>About Me</h1>
        <section class="about">
            <div class="about-container">
                <p>
                    After obtaining my master's in Speech-Language Pathology, I worked
                    in post-acute rehabilitation, inpatient, and outpatient settings.
                    Through this field, I have had the privilege of helping diverse
                    people with swallowing and communication disorders. I am especially
                    passionate about working with people with aphasia (a language
                    disorder acquired after neurological injury).
                </p>
                <p>
                    I've seen how people, including my own patients, are not able
                    to fully reap the benefits of the powerful and rapidly advancing
                    technology available today. Learning web development and design has 
                    become an essential part of my journey to be able to help fill
                    that gap and build solutions for these populations. Every individual is
                    so much more capable given equitable access and tools designed with them in mind.
                </p>
            </div>
        </section>
        <section class="skills">
            <h2>Skills</h2>
            <div class="skills-container">
                <div class="skills-card">
                    <h4>Backend</h4>
                    <p>C#, .NET, Azure, NodeJS, Express, SQL</p>
                </div>
                <div class="skills-card">
                    <h4>Frontend</h4>
                    <p>React, Blazor, JavaScript, HTML, CSS/Sass, jQuery</p>
                </div>
                <div class="skills-card">
                    <h4>Design</h4>
                    <p>Narrative & UX Reviews</p>
                </div>
            </div>
            <div class="skills-continued">
                <h3>
                    Given my unique perspective and skill-set, I am able to...
                </h3>
                <ul>
                    <li>
                        Foster productive working relationships with clients and colleagues 
                        through empathy, advocacy, and effective communication 
                        to develop user-centered solutions.
                    </li>
                    <li>
                        Write code that is clear and communicate its performance on
                        cross-functional teams.
                    </li>
                    <li>
                        Design websites and applications that are functional, aesthetic, and accessible.
                    </li>
                </ul>
            </div>
        </section>
        @*<section class="projects">
            <h2>Projects</h2>
        </section>*@
    </div>
</div>
