@page "/projects"

<div class="projects">
    <div class="sidebar">
        <div class="sidebar-container">
            <h1>Projects</h1>
            <section class="values">
                <p>Empowering. Accessible. Whimsical.</p>
            </section>
        </div>
    </div>
    <div class="projects-container">
        <div class="project odd">
            <div class="image-wrapper">
                <img src="images/earlybird.png" alt="EarlyBird" />
            </div>
            <div class="content-wrapper">
                <h2>EarlyBird</h2>
                <h3>
                    <span class="bold">GitHub Repo</span>
                    <a href="https://github.com/cjoy-ant/earlybird-client"
                        target="_blank">Client</a>
                    |
                    <a href="https://github.com/cjoy-ant/earlybird-api"
                        target="_blank">API</a>
                    <br />

                    <a href="https://earlybird-client.vercel.app" target="_blank">Live Project</a>
                </h3>
                <section class="description">
                    <p>
                        EarlyBird is a book tracking and journaling app that provides
                        readers a way to log their current reading list, take notes, and
                        write book reviews. Building this app allowed me to further
                        refine my skills to use ReactJs and React Router to build a
                        modular single page web application with easy navigation, NodeJs
                        and Express for a backend server that responds efficiently to
                        HTTP requests, and PostgreSQL and Heroku for a deployable
                        database.
                    </p>
                    <p>
                        <span class="bold">Skills used:</span> HTML, CSS, ReactJS,
                        NodeJS,Express, PostgreSQL
                    </p>
                </section>
            </div>
        </div>

        <div class="project even">
            <div class="image-wrapper">
                <img src="images/takecharge.png" alt="TakeCharge" />
            </div>
            <div class="content-wrapper">
                <h2>TakeCharge</h2>
                <h3>
                    <span class="bold">GitHub Repo</span>
                    <a href="https://github.com/cjoy-ant/takecharge-client"
                        target="_blank">Client</a>
                    |
                    <a href="https://github.com/cjoy-ant/takecharge-api"
                        target="_blank">API</a>
                    <br />
                    <a href="https://takecharge.vercel.app/" target="_blank">Live Project</a>
                </h3>
                <section class="description">
                    <p>
                        TakeCharge is a health care log app targeted for patients who
                        may not be tech savvy, health literate, and/or whose health care
                        providers do not all use the same patient portal. Users can save
                        and manage information related to their health care providers,
                        visits, and recommendations in a way that THEY can understand.
                        The patient, their caregiver, or their provider can quickly type
                        the information into designated areas throughout the app, using
                        only language that is appropriate for the patient. As a simple,
                        user-friendly app, patients can keep this information easily
                        accessible at their fingertips.
                    </p>
                    <p>
                        As my first fullstack capstone, I was excited to strengthen my
                        skills by building an app for the communities I want to serve. I
                        would love to learn more about encryption and cyber security to
                        protect sensitive information and be HIPAA compliant.
                    </p>
                    <p>
                        <span class="bold">Skills used:</span> HTML, CSS, JavaScript,
                        ReactJS, NodeJS, Express, PostgreSQL
                    </p>
                </section>
            </div>
        </div>

        <div class="project odd">
            <div class="image-wrapper">
                <img src="images/betavzn.png" alt="BetaVzn" />
            </div>
            <div class="content-wrapper">
                <h2>BetaVzn</h2>
                <h3>
                    <a class="bold" href="https://github.com/cjoy-ant/beta-vzn" target="_blank">GitHub Repo</a>
                    |
                    <a href="https://cjoy-ant.github.io/beta-vzn/" target="_blank">Live Project</a>
                </h3>
                <section class="description">
                    <p>
                        BetaVzn was made for rock climbers! They can search for boulder
                        problems based on location and grade. The user can add
                        additional search filters, including minimum grade, maximum
                        grade, and number of results to display. The feature that makes
                        this app unique is its consolidation of Mountain Project
                        information and relevant YouTube videos. The app will return a
                        list of boulder problems and display the following information
                        for a single result: Name of the boulder problem, grade, a link
                        to Mountain Project page, and embedded YouTube videos.
                    </p>
                    <p>
                        Building this app taught me how understand API documentation and
                        use APIs to fetch data and essentially give LIFE to my apps!
                    </p>
                    <p>
                        <span class="bold">Skills used:</span> HTML, CSS, JavaScript
                    </p>
                </section>
            </div>
        </div>

        <div class="project even">
            <div class="image-wrapper">
                <img src="images/ghibli-quiz.png" alt="Studio Ghibli Quiz" />
            </div>
            <div class="content-wrapper">
                <h2>Studio Ghibli Quiz</h2>
                <h3>
                    <a class="bold" href="https://github.com/cjoy-ant/quiz-app" target="_blank">GitHub Repo</a>
                    |
                    <a href="https://cjoy-ant.github.io/quiz-app/" target="_blank">Live Project</a>
                </h3>
                <section class="description">
                    <p>
                        This is a Studio Ghibli Quiz that tests how much the user knows
                        about the Japanese animation studio. This quiz will tell the
                        user if their answer was correct, keep score as they progress
                        through the quiz, display their results at the end, and allow
                        them to restart the quiz. Building this app allowed me to
                        practice using jQuery to make a webpage interactive.
                    </p>
                    <p>
                        <span class="bold">Skills used:</span> HTML, CSS, JavaScript,
                        jQuery
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>